<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Title --}}
    <title>{{title}}</title>
    {{!-- CSS --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- Add additionals here --}}
  </head>
  <body>
    <h1>{{title}}</h1>
    <div>
      {{# each data as |value key|}}
        <div data-id="{{key}}" style="padding-bottom: 1em;">
          <div>Applicant: {{value.name}}</div>
          <div>Status: {{value.data.msg}}</div>
        </div>
      {{/ each }}
    </div>
  </body>
</html>