<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <a class="navbar-brand" href="#">iEmployee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavigation">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/#iemployee">iEmployee<sup>&reg;</sup></a>
      <a class="nav-item nav-link" href="/#product">Produkt</a>
      <a class="nav-item nav-link" href="/#twitter">Wissen</a>
      <a class="nav-item nav-link" href="/#media">Medien</a>      
      <a class="nav-item nav-link" href="/jobs">Karriere</a>
    </div>
    <div class="navbar-nav">
      <a class="btn btn-sm btn-info text-white" href="/users">Logout</a>
    </div>
  </div>
</nav>

<section id="applicationForm">
  <!-- Jumbotron -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid jumbo-wrapper">
          <div class="d-flex vertical-align-items justify-content-start" style="">
            <img src="/img/icon-512x512.png" alt="" style="width: 50px; height: 50px;">
            <div class="text-white" style="padding-left: 1em;">
              <div class="lead">Bewerbungsformular</div>
              <div>{{vacancies.title}}</div>
            </div>
          </div>          
        </div>  
        <br>      
        {{#if success}}
        <img src="/img/icon-512x512.png" alt="" style="width: 96px; height: 96px;">
        <h2 class="h2">Herzlichen Dank für Ihre Bewerbung</h2>
        <div class="alert alert-success">Wir haben alle Daten erfolgreich erhalten.
          <a class="alert-link" href="/jobs">Zurück zur Startseite?</a>
        </div>
        {{else}} {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">{{this.msg}}</div>
        {{/each}} {{/if}}
        <form action="/users/submit" method="post" enctype="multipart/form-data">

          <!-- ************* -->
          <!-- Personendaten -->
          <!-- ************* -->

          <!-- ObjId -->
          <input class="form-control" type="text" name="objid" value="{{job}}" hidden>
          <!-- Vacancy -->
          <input class="form-control" type="text" name="vacancy" value="{{vacancies.title}}" hidden>
          <!-- Name -->
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" value="">
          </div>
          <!-- Vorname -->
          <div class="form-group">
            <label for="prename">Vorname</label>
            <input class="form-control" type="text" name="prename" value="">
          </div>
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email Addresse</label>
            <input class="form-control" type="email" name="email" value="">
          </div>

          <!-- *********** -->
          <!--    Files    -->
          <!-- *********** -->

          <!-- Lebenslauf -->
          <div class="form-group">
            <label for="cv">Lebenslauf</label>
            <input type="file" class="form-control-file" name="cv">
          </div>
          <!-- Motivationsschreiben -->
          <div class="form-group">
            <label for="ml">Motivationsschreiben</label>
            <input type="file" class="form-control-file" name="ml">
          </div>
          <!-- Arbeitszeugnisse -->
          <div class="form-group">
            <label for="rf">Arbeitszeugnis</label>
            <input type="file" class="form-control-file" name="rf">
          </div>
          <!-- Senden -->
          <button type="submit" class="btn btn-indigo float-right">Bewerbung absenden</button>
        </form>
      </div>
    </div>
  </div>
</section>

    <footer>
        {{!-- Footer Lead --}}
        <div id="footer-lead">
          <div class="container">
              <div class="row">
                  <div class="col-md-2">
                  <div class="lead">Navigation</div>
                  <ul class="footer-nav">
                      <li class=""><a href="#iemployee">iEmployee</a></li>
                      <li class=""><a href="#product">Produkt</a></li>
                      <li class=""><a href="#twitter">Wissen</a></li>
                      <li class=""><a href="#media">Media</a></li>
                  </ul>
                  </div>
                  <div class="col-md-2">
                  <div class="lead">Social Media</div>
                  <ul class="footer-nav">
                      <li class=""><a href="https://www.linkedin.com/in/ajaybachmann" target="_blank">LinkedIn</a></li>
                      <li class=""><a href="https://twitter.com/ajaybachmann" target="_blank">Twitter</a></li>
                      <li class=""><a href="https://facebook.com/ajaybachmann" target="_blank">Facebook</a></li>
                      <li class=""><a href="https://instagram.com/ajaybachmann" target="_blank">Instagram</a></li>
                  </ul>
                  </div>
                  <div class="col-md-2">
                  <div class="lead">Partners</div>
                  <ul class="footer-nav">
                      <li class=""><a href="https://www.htwchur.ch" target="_blank">HTW Chur</a></li>
                      <li class=""><a href="https://www.fundinfo.com/de/home/" target="_blank">Fundinfo AG</a></li>
                      <li class=""><a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
                  </ul>
                  </div>
              </div>
          </div>
        </div>
        {{!-- Footer Sub --}}
        <div id="footer-sub">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-1">
                      <div class="text-black">Multimediales Lehrprojekt von Allan Bachmann</div>
                      <div class="text-black">mmp15c2</div>
                    </div>
                    <div class="col-md-6 col-sm-8 footer-2">
                      <a href="www.iemployee.ch" class="footer-link">iemployee.ch</a>
                        <div>&copy; ajaybachmann.ch</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{{/if}}
