<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>iEmployee - Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Bootstrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>

  <body>

    <!-- TopNav -->
    <div class="navbar navbar-expand-lg navbar-light" id="topNav">
      <div class="container d-flex justify-content-center">
        <ul class="nav navbar-nav">
          <span id="reservation-bar" class="nav-item">Das ist eine Demoversion</span>
        </ul>
      </div>
    </div>

    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <!-- Header -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
        <a class="navbar-brand" href="#">iEmployee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboardNavigation" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dashboardNavigation">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/jobs/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vakanzen</a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <span class="dropdown-item-text"><b>ERM</b></span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Übersicht</a>
                <button class="dropdown-item" data-toggle="modal" data-target="#add_vacancies">Vakanz hinzufügen</button>
                                <div class="dropdown-divider"></div>
                <span class="dropdown-item-text"><b>Externe Ansicht</b></span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/jobs">Übersicht</a>                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NLP-Interface</a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <span class="dropdown-item-text"><b>Node.js</b></span>
                <a class="dropdown-item" href="#">TF-IDF</a>
                <span class="dropdown-item-text"><b>Python</b></span>
                <a class="dropdown-item" href="#">Syntax Analysis</a>
                <a class="dropdown-item" href="#">Sentiment Analysis</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API-Integration</a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"><span data-feather="log-in"></span><span class="item-text"> Login</span></a>
              </div>
            </li>                            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reporting</a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Übersicht</a>
                <a class="dropdown-item" href="#">Vakanzen</a>
                <a class="dropdown-item" href="#">Bewerber</a>
                <a class="dropdown-item" href="#">Mitarbeiter</a>
              </div>
            </li> 
          </ul>
          <div class="nav navbar-nav">
            <div id="user" class="nav-item">
              <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- <img id="userImg" src="/img/Partner.png" class="img-fluid" alt=""> -->
                <img id="userImg" src="/img/Partner2.png" class="img-fluid">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <span class="dropdown-item-text"><b>john.doe@iemployee.com</b></span>
                <a class="dropdown-item" href="#">Postfach
                  <span class="badge badge-secondary">9</span>
                  <span class="sr-only">unread messages</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/">Abmelden</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid">
      <div class="row">

        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

          <div id="applicants" class="my-4 w-100">
            <br>
            <div class="">
              <h5>Vakanzen <span data-feather="plus-circle" data-toggle="modal" data-target="#add_vacancies" style="cursor: pointer;"></span></h5>
              <hr class="my-4">
              {{# if errors }}
                {{# each errors }}
                  <div class="alert alert-danger">{{ this.msg }}</div>
                {{/ each }}
              {{/ if }}
            </div>         
            <div class="table-responsive">
              <table class="table table-sm table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Vakanz</th>
                    <th>Arbeitsort</th>
                    <th>Pensum</th>
                    <th>Tags</th>
                    <th>Edit</th>
                    <th>Löschen</th>
                  </tr>
                </thead>
                <tbody>
                  {{# vacancies}}
                  <tr>
                    <td>{{title}}</td>
                    <td>{{location}}</td>
                    <td>{{fte}}%</td>
                    <td>{{# tags}} {{[]}}, {{/ tags}}</td>
                    <td><a href="/jobs/edit/{{_id}}" class="btn btn-sm btn-outline-secondary edit-vacancy" data-id="{{_id}}">Bearbeiten</a></td>
                    <td><a href="" class="btn btn-sm btn-outline-danger transfer-delete" data-id="{{_id}}">Löschen</a></td>
                  </tr>
                  {{/ vacancies}}
                </tbody>
              </table>
            </div>
          </div>

          <div id="vacancies" class="my-4 w-100">
            <div class="">
              <h5>Applikanten</h5>
              <hr class="my-4">
            </div>
            <div>
              <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Profil</th>
                      <th>Name</th>
                      <th>E-Mail</th>
                      <th>Vakanz</th>
                      <th>Python-NLP</th>
                      <th>NLP-Status</th>
                      <th>NLP-Analyse</th>
                      <th>Löschen</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{# users}}
                      <tr>
                        <td>{{_id}}</td>
                        <td>{{prename}} {{name}}</td>
                        <td><a href="mailto:{{email}}">{{email}}</a></td>
                        <td>{{#each origins}}{{this.title}}{{/each}}</td>
                        <td><a href="/nlp/python/{{_id}}" class="btn btn-sm btn-outline-secondary">analysieren</a></td>
                        <td><a href="/nlp/view/{{_id}}" data-id="{{_id}}" class="nlp-view"><i class="fas fa-{{output.status}} fa-lg" style="text-align: center;"></i></a></td>
                        <td><a href="/nlp/analyze/{{_id}}" class="btn btn-sm btn-outline-secondary">analysieren</a></td>
                        <td><a href="" class="applicant-delete"><i class="fas fa-trash fa-lg" data-id="{{_id}}"></i></a></td>
                      </tr>
                    {{/ users}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {{!-- <div id="chart" class="my-4 w-100">
            <div class="">
              <div class="h5 d-flex justify-content-between">
                  <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Diagramm wählen
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">#Bewerbungen/Vakanz</a>
                      <a class="dropdown-item" href="#">NLP/Bewerber</a>
                      <a class="dropdown-item" href="#">NLP/Vakanz</a>
                    </div>
                  </div>
                  <button class="btn btn-sm btn-outline-secondary">
                    <span data-feather="calendar"></span>
                    Diese Woche
                  </button>                                                  
               </div>               
              <hr class="my-4">
            </div>
            <canvas id="myChart" width="900" height="380"></canvas>
          </div> --}}

        </main>
      </div>
    </div>

    {{!-- Modal: Add Vacancies --}}
    <div class="modal" id="add_vacancies" tabindex="-1" role="dialog" aria-labelledby="add_vacancies" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lead" id="exampleModalLabel">Vakanz hinzufügen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/jobs/add" method="post">
              <!-- Titel -->
              <div class="form-group">
                <label for="title">Titel</label>
                <input type="text" class="form-control" name="title" placeholder="Vakanz">
              </div>
              <!-- Beschreibung -->
              <div class="form-group">
                <label for="description">Beschreibung</label>
                <textarea type="text" class="form-control form-control-success" name="description" placeholder="Stellenbeschreibung"></textarea>
              </div>
              <!-- FTE -->
              <div class="form-group has-success">
                <label for="fte">Arbeitspensum (FTE)</label>
                <input type="text" class="form-control" name="fte" placeholder="Arbeitspensum (z.b. 0.8)">
              </div>
              <!-- Arbeitsort -->
              <div class="form-group">
                <label for="location">Arbeitsort</label>
                <input type="text" class="form-control" name="location" placeholder="Arbeitsort">
              </div>
              <!-- Tags -->
              <div class="form-group">
                <label for="tags">Stichworte</label>
                <input type="text" class="form-control" name="tags" placeholder="Tags">
                <small>Stichworte mit Komma trennen</small>
              </div>
              {{!-- Footer --}}
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Schliessen</button>
              <button type="submit" class="btn btn-sm btn-primary" name="submit">Vakanz hinzufügen</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  {{!-- Modal --}}
  <div class="modal" id="delete_vacancy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title lead" id="exampleModalCenterTitle">Vakanz löschen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 0; margin: 0;">
          <div class="container-fluid" style="padding: 0; margin: 0;">
              <div class="alert alert-danger align-items-center" style="margin: 0; border-radius: 0;">
                  <i class="fas fa-exclamation-triangle"></i> 
                  <span>Dies kann nicht rückgängig gemacht werden</span>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Schliessen</button>
          <a id="delete" href="" data-id="" class="btn btn-sm btn-danger delete-vacancy">Ja, Vakanz löschen</a>
        </div>
      </div>
    </div>
  </div>         

    <script type="text/javascript" src="/js/delete.js"></script>
    <script type="text/javascript">

    // const addVacancy = document.querySelector('#addVacancy'); --}}
    // var treeVacancy = document.querySelector('#treeVacancy').style.display = 'none';
   // let chart = document.querySelector('#chart').style.display = 'none';

    /* addVacancy.addEventListener('click', function() {
     
      let applicants = document.querySelector('#applicants').style.display = 'none';
      const vacancies = document.querySelector('#vacancies').style.display = 'block';
    }); */

    // const showVacancy = document.querySelector('#showVacancy');
    // showVacancy.addEventListener('click', function() {
      // const treeVacancy = document.querySelector('#treeVacancy');
      // Check state
      // if(treeVacancy.style.display === 'block') {
        // treeVacancy.style.display = 'none';
      // } else {
      //   treeVacancy.style.display = 'block';
      // }
    // });



    </script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    {{!-- <script src="/js/chart.js"></script> --}}
  </body>
</html>
