<!-- Fehlermeldung -->
<section id="error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Herzlichen Dank für Ihre Bewerbung</h1>
                <p>Wir haben alle Daten erfolgreich erhalten.<a href="/demo"> Zurück zur Startseite</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Zusammenfassung:</h2>
                <div class="list-group">
                    <div class="list-group-item">Filename: {{data.cv}}</div>
                    <div class="list-group-item">Upload to: {{data.path}}</div>
                    <div class="list-group-item">Full Name: {{data.prename}} {{data.name}}</div>
                    <div class="list-group-item">Mail: {{data.email}}</div>
                </div>
            </div>
        </div>
    </div>
</section>