<section id="editVacancies" style="padding-top: 3em;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h2">Vakanz bearbeiten</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{# vacancies}}
                <form action="/jobs/edit/{{_id}}" method="post">
                <!-- Titel -->
                <div class="form-group">
                    <label for="title">Titel</label>
                    <input type="text" class="form-control" name="title" placeholder="Vakanz" value="{{title}}">
                </div>
                <!-- Beschreibung -->
                <div class="form-group">
                    <label for="description">Beschreibung</label>
                    <textarea type="text" class="form-control form-control-success" name="description" placeholder="Stellenbeschreibung">{{body}}</textarea>
                </div>
                <!-- FTE -->
                <div class="form-group">
                    <label for="fte">Arbeitspensum (FTE)</label>
                    <input type="text" class="form-control" name="fte" placeholder="Arbeitspensum (z.b. 0.8)" value="{{fte}}">
                </div>
                <!-- Arbeitsort -->
                <div class="form-group">
                    <label for="location">Arbeitsort</label>
                    <input type="text" class="form-control" name="location" placeholder="Arbeitsort" value="{{location}}">
                </div>
                <!-- Tags -->
                <div class="form-group">
                    <label for="tags">Stichworte</label>
                    <input type="text" class="form-control" name="tags" placeholder="Tags" value="{{# tags}} {{[]}}, {{/ tags}}">
                    <small>Stichworte mit Komma trennen</small>
                </div>
                {{!-- Footer --}}
                <div class="form-group row justify-content-between">
                    <div class="col-md-4">
                        <a href="/jobs/dashboard" class="btn btn-sm btn-secondary">Zurück ohne speichern</a>
                        <button type="submit" class="btn btn-sm btn-primary" name="submit">Vakanz aktualisieren</button>                        
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete_vacancy">Vakanz löschen</a>
                    </div>
                </div>
                </form>
                {{/ vacancies}}
            </div>
        </div>
    </div>
</section>

{{!-- Modal --}}
<div class="modal" id="delete_vacancy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title lead" id="exampleModalCenterTitle">Vakanz löschen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0; margin: 0;">
        <div class="container-fluid" style="padding: 0; margin: 0;">
            <div class="alert alert-danger align-items-center" style="margin: 0; border-radius: 0;">
                <i class="fas fa-exclamation-triangle fa-2x"></i> 
                <span>Dies kann nicht rückgängig gemacht werden</span>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Schliessen</button>
        <a href="" class="btn btn-sm btn-danger">Ja, Vakanz löschen</a>
      </div>
    </div>
  </div>
</div>

{{!-- JavaScript --}}
<script type="text/javascript" src="/js/delete.js"></script>
