<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">iEmployee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavigation">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="http://localhost:8080/">Home</a>
      <a class="nav-item nav-link" href="http://localhost:8080/jobs/">Vakanzen</a>
    </div>
    <div class="navbar-nav">
      <a class="btn btn-sm btn-info text-white" href="/">Logout</a>
    </div>
  </div>
</nav>

<section>
  <div class="jumbotron jumbotron-fluid jumbo-wrapper">
    <div class="container text-white">
      {{# vacancies}}
      <div class="display-4">{{title}}</div>
      <hr class="hr-light my-4">
      {{/ vacancies}}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{# vacancies}}
        <div class="list-group">
          <div class="list-group-item"><b>Vakanz</b><br>{{title}}</div>
          <div class="list-group-item"><b>Beschäftigungsgrad</b><br>{{fte}}%</div>
          <div class="list-group-item"><b>Arbeitsort</b><br>{{location}}</div>
          <div class="list-group-item"><b>Beschreibung</b><br>{{body}}</div>
          <div class="list-group-item"><b>Stichworte</b><br>
            {{# tags}}
            <span>{{[]}}</span><br>
            {{/ tags}}
          </div>
        </div>
        {{/ vacancies}}
      </div>
      <div class="col-md-12">
        <a href="/jobs" class="btn btn-info">Zurück</a>
        {{# vacancies}}
        <a href="/jobs/apply/{{_id}}" class="btn btn-info">Bewerben</a>
        {{/ vacancies}}
      </div>
    </div>
  </div>
</section>
